<html>
  <body>
    <footer
      class="flex h-20 items-center justify-between bg-gray-50 px-6 text-gray-600 dark:bg-gray-950 dark:text-gray-300"
    >
      <p>
        <span class="max-sm:hidden">Copyright</span>
        &copy; {new Date().getUTCFullYear()}
      </p>

      <div class="flex items-center gap-2 text-xl">
        <a
          class="flex h-8 w-8 items-center justify-center"
          href="https://github.com/lewxdev"
          target="_blank"
        >
          <i class="bx bxl-github"></i>
        </a>
        <a
          class="flex h-8 w-8 items-center justify-center"
          href="https://linkedin.com/in/lewxind"
          target="_blank"
        >
          <i class="bx bxl-linkedin"></i>
        </a>
        <a
          class="flex h-8 w-8 items-center justify-center"
          href="https://x.com/lewxdev"
          target="_blank"
        >
          &Xopf;
        </a>
      </div>
    </footer>
  </body>
</html>
