<html>
  <body>
    <nav
      class="sticky top-0 flex h-20 select-none items-center justify-between bg-gray-50 px-6 dark:bg-gray-950"
    >
      <a class="text-2xl font-medium text-gray-700 dark:text-gray-200" href="/">
        lewxdev
      </a>

      <div class="flex items-center gap-6 text-gray-600 dark:text-gray-300">
        <!-- TODO: menu button -->
        <button class="flex h-8 w-8 items-center justify-center sm:hidden">
          <i class="bx bx-menu text-xl"></i>
        </button>

        <!-- TODO: links -->
        <div class="flex items-center gap-6 text-lg max-sm:hidden">
          <a href="#">about</a>
          <a href="#">projects</a>
          <a href="#">blog</a>
          <a href="#">contact</a>
        </div>

        <div class="h-8 w-[1px] bg-gray-400 dark:bg-gray-500"></div>

        <!-- TODO: theme toggle -->
        <button class="flex h-8 w-8 items-center justify-center">
          <i class="bx bx-moon text-xl"></i>
        </button>
      </div>
    </nav>
  </body>
</html>
