---
import type { MarkdownLayoutProps } from "astro";
import BaseLayout from "@/layouts/base-layout.astro";

type Props = MarkdownLayoutProps<{
  title: string;
  date: string;
}>;

const { frontmatter } = Astro.props;
---

<BaseLayout title={frontmatter.title}>
  <p class="text-sm text-gray-500 dark:text-gray-400">{frontmatter.date}</p>
  <slot />
</BaseLayout>
